body {
  max-width: 50%;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  padding: 1rem;
  padding-left: 0;
  font-weight: bolder;
}

.menu a:hover {
  cursor: pointer;
}

.logo img {
  height: 5rem;
}

.header {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.logotext {
  font-weight: bolder;
}

footer {
  text-align: center;
}

form input {
  width: 100%;
  margin: 0;
}

form label {
  width: 30%;
}

form select {
  width: 100%;
  margin: 0;
}

.form {
  width: 75%;
  margin: 0 auto;
}

#login {
  width: 100%;
  margin: 0 auto;
}

.addgroup {
  width: 60%;
  margin: 0 auto;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

#output {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.blocks {
  padding: 1rem;
  width: 28%;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  text-align: center;
}

.blocks h2 {
  margin-top: 0;
}

.mygroups:hover {
  cursor: pointer;
}

.btndiv {
  display: flex;
  justify-content: space-evenly;
}

#message {
  text-align: center;
}
